.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/stable_website_backup
*.docx
*.kml
*.gpkg-shm
*.gpkg-wal
temp.R
drafts
data/drafts
data/~$priorities.xlsx
data/~$pscis_phase2.xlsm
test.Rmd
test.html
/**.html
map.Rmd
R/make_hexsticker.R
Parsnip_report_intro_methods.html
backup_Rhistory
backup_Rproj_user/
temp/



